@model Idea.Models.ApplicationUser

@{
    ViewData["Title"] = "Edit User";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index">User Index</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<div class="container">
    <h5 class="mt-4 mb-4 text-center">@ViewData["Title"] (<em>@Model.UserName</em>)</h5>

    <form asp-action="Edit" class="row">
        <div class="col-12 text-center">
            <a asp-action="Index" class="btn btn-success">Back</a>
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger mt-5"></div>

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="NormalizedUserName" />
        <input type="hidden" asp-for="NormalizedEmail" />
        <input type="hidden" asp-for="EmailConfirmed" />
        <input type="hidden" asp-for="PasswordHash" />
        <input type="hidden" asp-for="SecurityStamp" />
        <input type="hidden" asp-for="ConcurrencyStamp" />
        <input type="hidden" asp-for="PhoneNumberConfirmed" />

        <div class="col-12 col-lg-6 pl-4 pr-4 mt-5">
            <h5 class="mb-4">Account Information</h5>

            <div class="form-group">
                <label asp-for="UserName" class="control-label">Username</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TwoFactorEnabled" class="control-label">Two Factor Enabled</label>
                <input asp-for="TwoFactorEnabled" class="form-control" />
                <span asp-validation-for="TwoFactorEnabled" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LockoutEnd" class="control-label">Lockout End</label>
                <input asp-for="LockoutEnd" class="form-control" />
                <span asp-validation-for="LockoutEnd" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LockoutEnabled" class="control-label">Lockout Enabled</label>
                <input asp-for="LockoutEnabled" class="form-control" />
                <span asp-validation-for="LockoutEnabled" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AccessFailedCount" class="control-label">Access Failed Count</label>
                <input asp-for="AccessFailedCount" class="form-control" />
                <span asp-validation-for="AccessFailedCount" class="text-danger"></span>
            </div>
        </div>

        <div class="col-12 col-lg-6 pl-4 pr-4 mt-5">
            <h5 class="mb-4">Profile</h5>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SSN"></label>
                <input asp-for="SSN" class="form-control" />
                <span asp-validation-for="SSN" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PassportID"></label>
                <input asp-for="PassportID" class="form-control" />
                <span asp-validation-for="PassportID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Gender"></label>
                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Birthday"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AlternativeEmail"></label>
                <input asp-for="AlternativeEmail" class="form-control" />
                <span asp-validation-for="AlternativeEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AlternativePhone"></label>
                <input asp-for="AlternativePhone" class="form-control" />
                <span asp-validation-for="AlternativePhone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Others"></label>
                <input asp-for="Others" class="form-control" />
                <span asp-validation-for="Others" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>

@section Scripts { @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} }