@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    ViewData["Title"] = "Edit Role";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index">Role Index</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<div class="container">
    <h5 class="mt-4 mb-4 text-center">@ViewData["Title"] (<em>@Model.Id</em>)</h5>

    <form asp-action="Edit" class="row">
        <div class="col-12 text-center mb-5">
            <a asp-action="Index" class="btn btn-success">Back</a>
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ConcurrencyStamp" />

        <div class="col-12">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>

@section Scripts { @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} }